<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranglista</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main>
        <section class="leaderboard-section">
            <div class="leaderboard-content">
                <h2 class="leaderboard-title">🏆 Ranglista</h2>
                <ul id="leaderboard-list">

                </ul>
                <div class="button-container">
                    <a href="index.html" class="secondary-button">Vissza a főoldalra</a>
                </div>
            </div>
        </section>
    </main>
    <script type="module" src="js/leaderboard.js"></script>
</body>
</html>
